* {
    box-sizing: border-box;
  }
  
  body {
	background-color: #797485;
    font-family: Arial;
  }
  
  h2 {
    text-align: center;
  }
  
  /* Position the image container */
  .container {
    position: relative;
    width: 80%;
    vertical-align: top;
    margin-left: 10%;
  }
  
  /* Hide the images by default */
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: 400px;
    vertical-align: middle;
  }
  
  /* Number text */
  .numbertext {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #f2f2f2;
    background-color: #222;
  }
  
  /* Container for image text */
  .caption-container {
    padding: 2px 16px;
    text-align: center;
    background-color: #222;
    color: #fff;
  }
  
  
  
  .prev, .next {
    position: absolute;
    top: 90%;
    transform: translateY(-60%);
    padding: 16px;
    border-radius: 0 3px 3px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.6s ease;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Columns side by side */
  .thumb-bar {
    display: flex;
    margin-left: 15%;
  }
  
  .thumb-img {
    width: 16.66%;
  }
  
  .thumb-img img {
    width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  .dem {
    opacity: 0.6;
    height: 90px;
  }
  
  .active, .dem:hover {
    opacity: 1;
  }